@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    --base-font: "Inter"
}

*,body,html{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 2rem 6rem;
}

p{
    font-size: 15px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav ul li{
    list-style-type: none;
    padding: 1rem;
    color: var(--dark-grayish-blue);
}

nav ul li:hover{
    color: var(--soft-red);
    cursor: pointer;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.hero__left{
    width: 65%;
    margin-right: 2rem;
}

.hero__left img{
    width: 100%;
}

.hero__right{
    width: 30%;
    padding: 1.5rem;
    background-color: var(--very-dark-blue);
}

.hero__right h2{
    color: var(--soft-orange);
    margin-bottom:1.4em;
}

.hero__right h3{
    color: var(--off-white);
    margin-bottom:1rem;
    font-weight: 700;
}

.hero__right p{
    color: var(--grayish-blue);
    line-height: 1.4em;
}

hr{
    background-color: var(--grayish-blue);
    margin: 1.5rem 0rem;
}

.hero__left-story{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
}

.hero__left-story h1{
    font-size: 40px;
    width: 40%;
    font-weight: 800;
    margin-right: 3rem;
}

.hero__left-story-text{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero__left-story-text p{
    color: var(--dark-grayish-blue);
    line-height: 1.4em;
    margin-bottom: 2rem;
}

.hero__left-story-text button{
    padding: .5rem 2rem;
    letter-spacing: 0.3rem;
    text-transform:uppercase;
    background-color: var(--soft-red);
    color: var(--off-white);
    border: none;
    font-size: 15px;
}
